

<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg text-left">
                                    <p>Better living</p>
                                    <h5>Progressive spaces for a better living</h5>
                                    <a href="about.html" class="btn btn-white">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="banhny-w3grids">
                            <div class="banhny-w3grids-1">
                                <h4 class="number-b">1</h4>
                            </div>
                            <div class="banhny-w3grids-1">
                                <h4><a href="#" class="hnys-title">The better way to buy real estate.</a></h4>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg text-left">
                                    <p>Dream Home</p>
                                    <h5>Everyone Deserves the Opportunity of Home</h5>
                                    <a href="about.html" class="btn btn-white">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="banhny-w3grids">
                            <div class="banhny-w3grids-1">
                                <h4 class="number-b">2</h4>
                            </div>
                            <div class="banhny-w3grids-1">
                                <h4><a href="#" class="hnys-title">The Only Realtor You Will Ever Want.</a></h4>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg text-left">
                                    <p>Better living</p>
                                    <h5>Progressive spaces for a better living</h5>
                                    <a href="about.html" class="btn btn-white">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="banhny-w3grids">
                            <div class="banhny-w3grids-1">
                                <h4 class="number-b">3</h4>
                            </div>
                            <div class="banhny-w3grids-1">
                                <h4><a href="#" class="hnys-title">Service You Deserve. People You Trust.</a></h4>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg text-left">
                                    <p>Dream Home</p>
                                    <h5>Everyone Deserves the Opportunity of Home</h5>
                                    <a href="about.html" class="btn btn-white">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="banhny-w3grids">
                            <div class="banhny-w3grids-1">
                                <h4 class="number-b">4</h4>
                            </div>
                            <div class="banhny-w3grids-1">
                                <h4><a href="#" class="hnys-title">The better way to buy real estate.</a></h4>
                            </div>
                        </div>
                    </div>
                </li>
            </div>


        </div>
        <a href="#about" scroll="scroll">
            <div class="arrow">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </a>
    </div>
</section>