@model List<Homish.EntityLayer.Concrete.Property>
<section class="w3l-how-grids-3 py-5" id="how">
    <div class="container py-md-5">
   
        <div class="d-grid grid-col-3 grid-element-9 margin-top">
            @foreach (var item in Model)
            {
                 <div class="left-grid-ele-9 grid-bg3">
                <div class="sub-wid-grid-9">
                    <h4 class="text-grid-9"><a href="#">@item.PropertyCountry</a></h4>
                    <p class="sub-para">@item.PropertyDescription</p>
                    <span>@item.PropertyCount Mülk</span>
                </div>
            </div>
            }
           
           
        </div>
    </div>
</section>