@model Plan
@{
    ViewData["Title"] = "AddPlan";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-12">
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                <h2>Plan</h2>
            </div>
        </div>
        <form method="post">
            <div>
                <label>Paket</label>
                <input type="text" class="form-control" asp-for="PlanPackage" />
            </div>
            <div>
                <label>Fiyat</label>
                <input type="text" class="form-control" asp-for="PlanPrice" />
            </div>
            <div>
                <label>İçerik</label>
                <input type="text" class="form-control" asp-for="PlanDescription" />
            </div>
            <br />
            <br />
            <button class="btn btn-outline-success">Kaydet</button>
        </form>
    </div>
</div>

