@model List<Homish.EntityLayer.Concrete.ChooseUs>
<section class="w3l-content-6 py-5" id="why">
    <div class="container py-lg-5">
        @foreach (var item in Model)
        {
              <div class="row">
            <div class="col-lg-4 content-6-left">
                <h6 class="sub-title">Neden Bizi Seçmelisiniz?</h6>
                <h3 class="hny-title">@item.ChooseUsTitle</h3>
            </div>
            <div class="col-lg-4 content-6-right mt-lg-0 mt-4">
                <p class="mb-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum labore sed, veniam nisi sunt laboriosam ducimus, odio
                    aspernatur fugiat minima blanditiis dignissimos.
                </p>
                <p class="mb-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum labore sed, veniam nisi sunt laboriosam ducimus, odio
                    aspernatur fugiat minima blanditiis dignissimos.
                </p>

            </div>
            <div class="col-lg-4 content-6-right mt-lg-0 mt-4">
                <p class="mb-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum labore sed, veniam nisi sunt laboriosam ducimus, odio
                    aspernatur fugiat minima blanditiis dignissimos.
                </p>
                <p class="mb-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum labore sed, veniam nisi sunt laboriosam ducimus, odio
                    aspernatur fugiat minima blanditiis dignissimos.
                </p>

            </div>
        </div>
        }
      
    </div>
</section>