@model List<Homish.EntityLayer.Concrete.ServiceProperty>
<section class="w3l-services1">
    <div id="content-with-photo4-block" class="py-5">
        <div class="container py-md-5">
            <div class="header-section text-center mb-5">
                <h6 class="sub-title"> Mülkler</h6>
                <h3 class="hny-title">
                    Kiralık
                </h3>
            </div>
            <div class="cwp4-two row">
                @foreach (var item in Model)
                {
                    <div class="cwp4-image col-lg-4 col-md-6 mt-4">
                        <div class="grids4-info">
                            <a href="#"><img src="@item.ServicePropertyImage" class="img-fluid" alt=""></a>
                            <div class="info-bg">
                                <h5><a href="#">@item.ServicePropertyTitle</a></h5>
                                <span class="price">@item.ServicePropertyPrice</span>
                                <p>@item.ServicePropertyDescription</p>
                                <ul>
                                    <li><span class="fa fa-bed"></span> 3</li>
                                    <li><span class="fa fa-bath"></span> 3</li>
                                    <li><span class="fa fa-share-square-o"></span> 1200 sq ft</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
               
               
            </div>
        </div>
    </div>
</section>