
<section class="w3l-services1">
    <div id="content-with-photo4-block" class="py-5">
        <div class="container py-md-5">
            <div class="cwp4-two row">
                <div class="cwp4-text col-lg-4 mb-lg-0 mb-5">
                    <h6 class="sub-title">Ne Yapıyoruz</h6>
                    <h3 class="hny-title">Sizin İçin Neler Sunuyoruz?</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.
                    </p>
                    <a href="about.html" class="btn btn-style mt-lg-4 mt-2">Read More</a>
                </div>
                <div class="cwp4-image col-lg-4 col-md-6">
                    <div class="grids4-info">
                        <a href="#"><img src="~/Homish-Starter/assets/images/g1.jpg" class="img-fluid" alt=""></a>
                        <div class="info-bg">
                            <h5><a href="#">Satılık emlak</a></h5>
                            <span class="price">$ 240/Ay</span>
                            <p>Nulla ex nunc, interdum nec egestas nec, dapibus ac mauris. Vivamus id tempor nisl.</p>
                            <ul>
                                <li><span class="fa fa-bed"></span> 3</li>
                                <li><span class="fa fa-bath"></span> 3</li>
                                <li><span class="fa fa-share-square-o"></span> 1200 sq ft</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cwp4-image col-lg-4 col-md-6">
                    <div class="grids4-info">
                        <a href="#"><img src="~/Homish-Starter/assets/images/g2.jpg" class="img-fluid" alt=""></a>
                        <div class="info-bg">
                            <h5><a href="#">Satılık Ev</a></h5>
                            <span class="price">$ 280/Ay</span>
                            <p>Nulla ex nunc, interdum nec egestas nec, dapibus ac mauris. Vivamus id tempor nisl.</p>
                            <ul>
                                <li><span class="fa fa-bed"></span> 3</li>
                                <li><span class="fa fa-bath"></span> 3</li>
                                <li><span class="fa fa-share-square-o"></span> 1200 sq ft</li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>