@model Property
@{
    ViewData["Title"] = "UpdateProperty";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-12">
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                <h2>Mülk</h2>
            </div>
        </div>
        <form method="post">
            <input type="hidden" asp-for="ID"/>
            <div>
                <label>Ülke</label>
                <input type="text" class="form-control" asp-for="PropertyCountry" />
            </div>
            <div>
                <label>İçerik</label>
                <input type="text" class="form-control" asp-for="PropertyDescription" />
            </div>
            <div>
                <label>Mülk Sayısı</label>
                <input type="text" class="form-control" asp-for="PropertyCount" />
            </div>
            <br />
            <br />
            <button class="btn btn-outline-success">Kaydet</button>
        </form>
    </div>
</div>

