
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">


@await Component.InvokeAsync("_HeadPartial")

<body>
    <!--header-->
    @await Component.InvokeAsync("_NavbarPartial")
    <!-- //header -->
    <!-- about breadcrumb -->
    <section class="w3l-about-breadcrumb text-center">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container">
                <h2 class="title">Hizmetlerimiz</h2>
                <ul class="breadcrumbs-custom-path mt-2">
                    <li><a href="#url">Ana Sayfa</a></li>
                    <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Hizmetlerimiz </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //about breadcrumb -->
    <!-- call to action 5 -->
    <section class="w3l-cta5">
        <div class="call-to-action-5 py-5">
            <div class="container py-lg-5">
                <div class="call-to-action-5-content text-center">
                    <h3 class="hny-title">Gayrimenkul satın almanın en iyi yolu.</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sapiente commodi maiores ullam est
                        nostrum aliquam!
                    </p>
                    <a href="#url" class="btn btn-style btn-primary mb-4">Read More</a>
                    <div class="three-grids row">
                        <div class="col-lg-4 col-md-6 grid mt-md-0 mt-4">
                            <div class="icon">
                                <span class="fa fa-rebel" aria-hidden="true"></span>
                            </div>
                            <div class="icon-info">
                                <h4><a href="#">Tasarım</a></h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sapiente commodi maiores ullam est
                                    nostrum aliquam!
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 grid mt-md-0 mt-4">
                            <div class="icon">
                                <span class="fa fa-line-chart" aria-hidden="true"></span>
                            </div>
                            <div class="icon-info">
                                <h4><a href="#">Strateji</a></h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sapiente commodi maiores ullam est
                                    nostrum aliquam!
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-lg-0 mt-4 grid">
                            <div class="icon">
                                <span class="fa fa-rocket" aria-hidden="true"></span>
                            </div>
                            <div class="icon-info">
                                <h4><a href="#">Pazarlama</a></h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sapiente commodi maiores ullam est
                                    nostrum aliquam!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /call to action 5 -->
  @await Component.InvokeAsync("_ServicePartial")
    <!--/-->
    <!--/services-->
    @await Component.InvokeAsync("_ServicePropertyPartial")
    <!--//services-->
    <!--/w3l-footer-29-main-->
    @await Component.InvokeAsync("_FooterPartial")
    <!--//w3l-footer-29-main-->
    <!-- Template JavaScript -->
    @await Component.InvokeAsync("_ScriptPartial")

</body>

</html>